<!DOCTYPE  html>
<html>
<head>
    <title>Bloggg</title>
    <script>
        $(document).ready(function() {
            $(".savebutton").click(function(){
                var id       = ($(this).attr('userid'));
                var fname    = $("#first_name").val();
                var lname    = $("#last_name").val();
                var email    = $("#email").val();
                var password = $("#password").val();

                // ===== ajax to put
                $.ajax({
                    url: '/user/' + id + '?first_name=' + fname + '&last_name=' + lname + '&email=' + email + '&password=' + password,
                    type: 'PUT',
                    contentType:'application/json',
                    data: JSON.stringify({id:id, first_name:fname, last_name:lname, email:email, password:password})
                }).done(function(msg){
                    alert("Successfully updated profile!");
                    $( "#displayhere" ).append( "<p><strong>Successfully updated profile!</strong></p>" );
                    window.location.href = "/dashboard";
                }).fail(function(xhr, status, err){
                    var errObj = JSON.parse(xhr.responseText);
                    $( "#errors" ).append(errObj.err);
                });
            });

            $(".cancelbutton").click(function(){
                window.location.href= "/dashboard";
            });

        });
    </script>
</head>

<body>
     <div class="heading">
        <div id="blogtitle">Bloggg!</div>
        <div id="user">Welcome, <%=user.first_name%> | <a href="/logout">logout</a></div>
    </div>

    <div class="container">
        <div class="left">
            <div class="hero-unit">
                <div id="displayhere"></div>
                <div id="errors"></div>
                <p>
                    <labelling>Update User</labelling>
                    <p align="left">
                        First Name: <input type="text" value="<%=result.first_name%>" name="first_name" id="first_name"></input><br/>
                        Last Name: <input type="text" value="<%=result.last_name%>" name="last_name" id="last_name" ></input><br/>
                        Email: <input type="text" value="<%=result.email%>" name="email" id="email"></input><br/>
                        Password: <input type="password" value="<%=result.password%>" name="password" id="password" ></input><br/>
                    </p>
                    <p>
                        <button class = "savebutton" type="submit" userid="<%=user.uuid%>">Save</button>
                        <button class = "cancelbutton" type="submit">Cancel</button>
                    </p>
                </p>
            </div>
        </div>
    </div>

    <div class="footer">
        Bloggg. A micro-blogging site. Ima Balles
    </div>
</body>
</html>
